<style>
    #view-gamepad.grid { grid-template-rows: 1fr auto 1fr; }
    #view-gamepad.grid > div { display: grid; }
    #view-gamepad #center { display: none; }

    #view-gamepad .cross { display: grid; grid-template-columns: auto auto; width: 70vmin; height: 70vmin; margin: auto; transform: rotate(45deg); }
    #view-gamepad .cross:last-of-type { display: none; }

    #view-gamepad .cross .button span { transform: rotate(-45deg); }
    #view-gamepad .cross .button:nth-child(1) { border-radius: 100% 5px 5px 5px; }
    #view-gamepad .cross .button:nth-child(2) { border-radius: 5px 100% 5px 5px; }
    #view-gamepad .cross .button:nth-child(3) { border-radius: 5px 5px 5px 100%; }
    #view-gamepad .cross .button:nth-child(4) { border-radius: 5px 5px 100% 5px; }

    /*#view-gamepad .cross .circle { display: none; }*/
    #view-gamepad .cross .circle { position: absolute; grid-row-start: 1; grid-row-end: 3; grid-column-start: 1; grid-column-end: 3; justify-self: center; align-self: center; border-radius: 100%; background: #0a1922; min-width: .4in; min-height: .4in; }
    #view-gamepad .cross .circle.active { background-color: #55636B; width: 100%; height: 100%; }

    #view-gamepad #top .button { font-size: .6em; justify-self: left; }
    #view-gamepad #bottom .button.long { width: 70vmin; }
    #view-gamepad #bottom .button { font-size: .6em; justify-self: center; }
    #view-gamepad #bottom .button:first-of-type { display: none; }
    #view-gamepad #bottom .button:last-of-type { display: none; }

    @media screen and (min-width: 480px) and (orientation: landscape)
    {
        #view-gamepad.grid { grid-template-rows: .3in auto .3in; }
        #view-gamepad #middle { grid-template-columns: 1fr auto 1fr; }
        #view-gamepad #center { display: grid; align-self: start; }

        #view-gamepad .cross { width: 60vmin; height: 60vmin; }
        #view-gamepad .cross:last-of-type { display: grid; font-size: 70%; }

        #view-gamepad #bottom { grid-template-columns: 1fr 50vmin 1fr; }
        #view-gamepad #bottom .button.long { width: 50vmin; }
        #view-gamepad #bottom .button:first-of-type { display: grid; justify-self: left; }
        #view-gamepad #bottom .button:last-of-type { display: grid; justify-self: right; }

    }

</style>

<div id="view-gamepad" class="grid">
    <div id="top">
        <a rel="down" class="button bottom small" href="?c=key&v=27">ESC</a>
    </div>
    <div id="middle">
        <div class="cross">
            <a rel="down" class="icon button outline" href="?c=key&v=38"><span>&#58134;</span></a>
            <a rel="down" class="icon button outline" href="?c=key&v=39"><span>&#58133;</span></a>
            <a rel="down" class="icon button outline" href="?c=key&v=37"><span>&#58132;</span></a>
            <a rel="down" class="icon button outline" href="?c=key&v=40"><span>&#58131;</span></a>
            <a rel="grip" class="circle button outline" href="?c=grip&k=38,39,40,37"></a>
        </div>
        <div id="center">
            <a rel="down" class="icon button small" href="?c=key&v=8"></a>
            <a rel="down" class="icon button small" href="?c=key&v=13"></a>
        </div>
        <div class="cross">
            <a rel="down" class="button outline" href="?c=key&v=89"><span>Y</span></a>
            <a rel="down" class="button outline" href="?c=key&v=66"><span>B</span></a>
            <a rel="down" class="button outline" href="?c=key&v=88"><span>X</span></a>
            <a rel="down" class="button outline" href="?c=key&v=65"><span>A</span></a>
            <a rel="grip" class="circle button outline" href="?c=grip&k=89,66,65,88"></a>
        </div>
    </div>
    <div id="bottom">
        <a rel="down" class="button small" href="?c=key&v=160">SHIFT</a>
        <a rel="down" class="button outline small long" href="?c=key&v=32">SPACE</a>
        <a rel="down" class="button small" href="?c=key&v=163">CTRL</a>
    </div>
</div>