<style>
    .grid { grid-template-rows: 6fr .5in 1fr; }

    .cross { display: grid; grid-template-columns: auto auto; width: 80vmin; height: 80vmin; margin: auto; transform: rotate(45deg); }
    .cross:last-of-type { visibility: hidden; position: absolute; }

    .cross .button span { transform: rotate(-45deg); }
    .cross .button:nth-child(1) { border-radius: 100% 5px 5px 5px; }
    .cross .button:nth-child(2) { border-radius: 5px 100% 5px 5px; }
    .cross .button:nth-child(3) { border-radius: 5px 5px 5px 100%; }
    .cross .button:nth-child(4) { border-radius: 5px 5px 100% 5px; }

    .button.long { width: 70%; font-size: .6em; justify-self: center; }

    @media screen and (min-width: 480px) and (orientation: landscape) {
        .grid { grid-template-columns: 1fr 1fr; grid-template-rows: .5in auto .5in; padding: 0px; }
        .button.long { width: 30%; position: relative; top: -40%; grid-row: 3; grid-column-start: 1; grid-column-end: 3; min-height: .5in; }
        .cross { width: 60vmin; height: 60vmin; grid-row: 2; }
        .cross:last-of-type { visibility: visible; position: initial; }
    }

</style>

<div class="grid">
    <div class="cross">
        <a rel="down" class="icon button outline" href="?c=key&v=38"><span>&#58134;</span></a>
        <a rel="down" class="icon button outline" href="?c=key&v=39"><span>&#58133;</span></a>
        <a rel="down" class="icon button outline" href="?c=key&v=37"><span>&#58132;</span></a>
        <a rel="down" class="icon button outline" href="?c=key&v=40"><span>&#58131;</span></a>
    </div>
    <div class="cross">
        <a rel="down" class="button outline" href="?c=key&v=89"><span>Y</span></a>
        <a rel="down" class="button outline" href="?c=key&v=66"><span>B</span></a>
        <a rel="down" class="button outline" href="?c=key&v=88"><span>X</span></a>
        <a rel="down" class="button outline" href="?c=key&v=65"><span>A</span></a>
    </div>
    <a rel="down" class="button outline long" href="?c=key&v=32">SPACE</a>
</div>