<style>
    #view-link h1 { font-size: 100%; text-align: center; }
    #view-link ol { color: white; margin: auto; padding: 0px; font-size: 50%; list-style-position: inside; display: inline-block; text-align: left; line-height: 140%; margin-bottom: 10px; }
    #view-link p { margin: 0px; color: #6D93AE; font-size: 50%; }
    #view-link a.button { color: white; padding-left: 16px; padding-right: 16px; display: inline-block; line-height: .4in; }
    #view-link a.button .icon { color: #ffb100; float: right; margin-left: 10px; }
    #view-link strong { color: #ffb100; }
    #view-link table { height: 100%; width: 100%; margin: auto; text-align: center; }
    #view-link table tr:first-child td { height: 20%; vertical-align: bottom; }
    #view-link table tr:last-child td { height: 80px; vertical-align: top; }
    #view-link #qr { background-image: url('?c=app&v=qr'); background-position: center; background-size: contain; background-repeat: no-repeat; }
</style>

<div id="view-link" class="grid">
    <table>
        <tr>
            <td>
                <ol>
                    <li><strong>Scan</strong> the code with your phone or tablet</li>
                    <li>Add the page to your <strong>home screen</strong></li>
                </ol>
            </td>
        </tr>
        <tr style="height: 60%">
            <td id="qr">&nbsp;</td>
        </tr>
        <tr style="height: 10%">
            <td><p><a rel="js" class="button outline small" onclick="copyText('{Link}'); return false;" href="#">{Link}<span class="icon">&#xe14d;</span></a></p></td>
        </tr>
    </table>
</div>