<table class="grid">
    <tr>
        <td style="text-align: right">
            <a rel="click" href="?c=media&v=screenOff">&#59564;</a>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="20%" class="icon" style="text-align: right">&#57421;</td>
                    <td style="direction: rtl">
                        <a rel="press" class="button" href="?c=media&v=175">&#57669;</a><a rel="press" class="button" href="?c=media&v=174">&#57691;</a>
                    </td>
                    <td style="direction: rtl">
                        <a rel="press" class="button" href="?c=media&v=brightnessUp">&#57669;</a><a rel="press" class="button" href="?c=media&v=brightnessDown">&#57691;</a>
                    </td>
                    <td width="20%" align="left" class="icon" style="text-align: left">&#58416;</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td>
                        <a rel="press" href="?c=media&v=37">&#57702;</a>
                    </td>
                    <td>
                        <a rel="click" class="large" href="?c=media&v=179">&#57399;&#57396;‬</a>
                    </td>
                    <td>
                        <a rel="press" href="?c=media&v=39">&#57690;</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>