<style>
    #view-media.grid { grid-template-rows: 20% 1.5fr 1fr; }
    #view-media.grid > .button { justify-self: right; }

    #view-media .button.large { min-height: .6in; }
    #view-media .wide-only { visibility: hidden; position: absolute; }
    #view-media #media-buttons > div:first-child { display: grid; grid-template-columns: auto auto auto auto auto; }
    #view-media #media-buttons > div:last-child { display: grid; grid-template-columns: .5fr 1fr 1fr .5fr; }
    #view-media #media-buttons > div:last-child > .button:first-child { grid-column: 2; }

    #view-media .center { display: grid; height: 100%; grid-template-columns: 15% auto 5% auto 15%; align-items: center; grid-gap: 5px; }
    #view-media .center div { direction: rtl; align-self: stretch; display: flex; flex-wrap: wrap; }
    #view-media .center div .button { width: 100%; }
    #view-media .center span:first-child { justify-self: right; }
    #view-media .center span:last-child { justify-self: left; }    

    @media screen and (min-width: 320px) and (orientation: landscape)
    {
        #view-media .center div { flex-wrap: nowrap; }
        #view-media .wide-only { visibility: visible; position: initial; }
        #view-media #media-buttons > div:last-child { display: none; }
    }

</style>

<div id="view-media" class="grid">
    <a rel="click" class="button icon" href="?c=media&v=standby">&#59564;</a>

    <div class="center icon">
        <span>&#57421;</span>
        <div>
            <a rel="press" class="icon button plastic" href="?c=media&v=175">&#57669;</a>
            <a rel="press" class="icon button plastic" href="?c=media&v=174">&#57691;</a>
        </div>
        <div></div>
        <div>
            <a rel="press" class="icon button plastic" href="?c=media&v=brightnessUp">&#57669;</a>
            <a rel="press" class="icon button plastic" href="?c=media&v=brightnessDown">&#57691;</a>
        </div>
        <span>&#58416;</span>
    </div>

    <div id="media-buttons">
        <div>
            <a rel="press" style="grid-column: 1" class="button icon wide-only" href="?c=media&v=37">&#57702;</a>
            <a rel="click" style="grid-column: 2" class="button icon" href="?c=media&v=177">&#57413;</a>
            <a rel="click" style="grid-column: 3" class="button icon large" href="?c=media&v=179">&#57399;&#57396;‬</a>
            <a rel="click" style="grid-column: 4" class="button icon" href="?c=media&v=176">&#57412;</a>
            <a rel="press" style="grid-column: 5" class="button icon wide-only" href="?c=media&v=39">&#57690;</a>
        </div>
        <div>
            <a rel="press" class="button icon small" href="?c=media&v=37">&#57702;</a>
            <a rel="press" class="button icon small" href="?c=media&v=39">&#57690;</a>
        </div>
    </div>
</div>
