<style>
    #view-rdp { width: 100%; height: 100%; }
    #view-rdp > a { cursor: default; background: #0C1F2B; }
    #view-rdp #canvas { width: 100%; height: 100%; object-fit: contain; position: absolute; top: 0; left: 0; z-index: 999; opacity: 0; background: #0C1F2B; }

    #view-rdp #click-spot { visibility: hidden; display: block; position: absolute; border-radius: 50%; background: #6D93AE; border: 1px solid #0C1F2B; z-index: 999; transform: translate(-50%, -50%); pointer-events: none; }
    #view-rdp #click-spot.animate { transition: opacity .5s, width .5s, height .5s; }
    #view-rdp #click-spot.fadeIn { opacity: 0.5; width: .7in; height: .7in; visibility: visible; }
    #view-rdp #click-spot.fadeOutSmall { opacity: 0; width: 0px; height: 0px; visibility: visible; }
    #view-rdp #click-spot.fadeOutBig { opacity: 0; width: 3in; height: 3in; visibility: visible; }

    #view-rdp .loading { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #6D93AE; font-size: 200%; font-weight: normal; }

    #view-rdp .loaded #canvas { opacity: 1; }
    #view-rdp .loaded .loading { display: none; }

    #view-rdp #controls.grid { grid-template-columns: 1fr 1fr; padding: 2vmin; }
    #view-rdp #controls .button { position: relative; z-index: 999; background: rgba(12, 31, 43, .85); }
    #view-rdp #controls .button:nth-child(1) { justify-self: left; align-self: start; }
    #view-rdp #controls .button:nth-child(2) { justify-self: left; align-self: end; grid-row: 2; }
    #view-rdp #controls .button:nth-child(3) { justify-self: right; align-self: end; grid-row: 2; }

    #view-rdp.topleft #controls .button:nth-child(1) { visibility: hidden; }
    #view-rdp.topright { }
    #view-rdp.bottomleft #controls .button:nth-child(2) { visibility: hidden; }
    #view-rdp.bottomright #controls .button:nth-child(3) { visibility: hidden; }
    
</style>

<div id="view-rdp">
    <a rel="panzoom" href="?c=rdp&v=click">
        <span class="icon loading">hourglass_empty</span>
        <img id="canvas" data-src="?c=rdp&v=screen" />
        <span id="click-spot"></span>
    </a>

    <div id="controls" class="grid">
        <a class="button icon" href="#menu">&#xe5c3;</a>
        <a class="button icon small" href="#gamepad" >&#xe338;</a>
        <a rel="js" class="button icon small" href="javascript:focusKeyboard();">&#xe312;</a>
    </div>
</div>