@font-face { font-family: 'Material Icons'; src: url('MaterialIcons-Regular.woff') format('woff'); }
html { -webkit-font-smoothing: antialiased; user-select: none; -webkit-user-select: none; -webkit-touch-callout: none; -webkit-tap-highlight-color: transparent; -webkit-backface-visibility: hidden; }
body { font-size: 8vmin; width: 100%; height: 100%; padding: 0px; margin: 0px; background: #0C1F2B; color: #6D93AE; user-select: none; position: fixed; }
table { width: 100%; height: 100%; }

#grid table { border-spacing: 10px; }
#grid td { text-align: center; border: 0px solid white; }
#grid td a { font-size: 1.2em; border-radius: 15px; line-height: 3em; min-width: 2em; }
#grid td a + a { margin-top: 10px; }
#grid td a.large { font-size: 1.8em; }

#grid td.alignLeft { text-align: left; }
#grid td.alignRight { text-align: right; }

a, .icon { font-family: 'Material Icons'; white-space: nowrap; font-weight: bold; }
a { color: white; text-decoration: none; display: inline-block; text-align: center; }
a.button { background: #6D93AE; color: #1b2d34; border: 1px solid black; display: block; }
a:active { background: rgba(255, 255, 255, .3); }

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html { width: 100vh; transform: rotate(-90deg); transform-origin: left top; position: absolute; top: 100%; left: 0; }
}
