@font-face { font-family: 'Material Icons'; src: url('../Res/MaterialIcons-Regular.woff') format('woff'); }
@font-face { font-family: 'Roboto'; src: url('../Res/Roboto-Bold.woff') format('woff'); }
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

* { touch-action: none; user-select: none; -webkit-font-smoothing: antialiased; -webkit-tap-highlight-color: transparent; }
body { width: 100%; height: 100%; padding: 0px; margin: 0px; background: #001f32; color: #6D93AE; position: fixed; font-family: Roboto, Arial, Tahoma; font-size: .3in; }
#view { width: 100%; height: 100%; animation-duration: .3s; animation-timing-function: ease-in; display: grid; }
#app-state { height: 100%; display: flex;}

.icon { font-family: 'Material Icons'; white-space: nowrap; font-weight: bold; }
.grid { display: grid; box-sizing: border-box; width: 100%; height: 100%; align-items: center; padding: 5vmin; }
.hidden { display: none !important; }
.loading { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #6D93AE; font-size: 200%; font-weight: normal; }
.dark { background: #002332d9; }

.button { display: grid; min-width: .6in; min-height: .6in; padding: 5px; border-radius: 10px; margin: 5px; align-items: center; }
.button { color: #dc9600; text-decoration: none; justify-content: center; }
.button.dimmed { color: rgba(255, 255, 255, .3); color: white; }
.button.large { font-size: 2em; min-width: .9in; min-height: .9in; }
.button.small { min-height: 0px; height: .4in; }
.button.long { min-width: 50vmin; justify-self: center; border-radius: 16px; }
.button.outline { border: 1px solid white; background-color: rgba(0, 0, 0, .2); }
.button.plastic { background-color: #6D93AE; color: #1b2d34; border: 1px solid black; border-radius: 15px; }
.button.reload { visibility: hidden; align-self: center; justify-self: center; }
.button.active { background-color: rgba(255, 255, 255, .3); }
.button.selected { background-color: rgba(255, 255, 255, .3); }
.button.hidden { display: grid !important; visibility: hidden; }

.status { position: absolute; width: 100%; top: 15px; visibility: hidden; font-size: .6em; z-index: 999; text-align: center; }
.status#status-normal { visibility: visible; max-width: 50vw; left: 50%; margin-left: -25vw; }
.status#status-error { color: #AD4141; z-index: 9999; }
.status#status-error .icon { padding: 12px; border-radius: 20%; }
.status #status-error-text { position: fixed; z-index: 9999; bottom: 0px; margin: 0px; white-space: pre-wrap; width: 100%; padding: 2vmin; box-sizing: border-box; word-break: break-word; text-align: left; font-size: 80%; }
.status #status-error-text:empty { display: none; }

.guide { display: grid; font-size: .2in; background-color: rgba(0, 0, 0, .8); position: absolute; top: 0; left: 0; z-index: 999; width: 100%; height: 100%; align-content: center; justify-items: center; text-decoration: none; }
.guide .hints { color: white; line-height: 35px; padding: 5vw; }
.guide .hints .icon { margin-right: 5px; float: left; }
.guide .hints .emphasis { color: #ffb100; }
.guide .hints .de-emphasis { font-size: 80%; opacity: .8; }

#app-state.status-error #status-error { visibility: visible; }
#app-state.status-error #status-normal { visibility: hidden; }
#app-state.status-error .reload { visibility: visible; }
#app-state.status-error .loading { display: none; }

#keyboard { position: absolute; opacity: 0; }
#landscape { position: absolute; display: none; visibility: hidden; }

@supports (-webkit-touch-callout: none) {
    @media (orientation: portrait) {
        body.compensate-ios-padding { top: 20px; height: calc(100% - 20px) }
    }
}

@media screen and (min-width: 480px) and (orientation: landscape) {
    #landscape { visibility: visible; }
}