@font-face { font-family: 'Material Icons'; src: url('../Res/MaterialIcons-Regular.woff') format('woff'); }

* { font-size: 8vmin; text-align: center; }
html { -webkit-font-smoothing: antialiased;  -webkit-touch-callout: none; -webkit-tap-highlight-color: transparent; }
body { width: 100%; height: 100%; padding: 0px; margin: 0px; background: #0C1F2B; color: #6D93AE; user-select: none; position: fixed; }
table { width: 100%; height: 100%; }

a, .icon { font-family: 'Material Icons'; white-space: nowrap; font-weight: bold; }
a { font-size: 1.2em; color: white; text-decoration: none; }
a.button { background: #6D93AE; color: #1b2d34; border: 1px solid black;}
a.active { background: rgba(255, 255, 255, .3); }

#grid td { border: 0px solid white; }
#grid td a { border-radius: 15px; min-width: 22vmin; line-height: 18vh; display: inline-block; margin: 5px; }
#grid td a.large { font-size: 2em; }

.status { position: absolute; text-align: center; width: 100%; top: 2%; visibility: hidden;}
.request-error #status-error { visibility: visible; color: #AD4141; }

.align-left { text-align: left; }
.align-right { text-align: right; }

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    #grid td a { min-width: 20vmin; line-height: 28vh; }
}